@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    White : hsl(0, 0%, 100%);
    Very-Pale-Blue : hsl(225, 100%, 98%);
    Light-Grayish-Blue : hsl(227, 47%, 96%);
    Dark-Grayish-Blue : hsl(228, 12%, 44%);
    Very-Dark-Blue: hsl(230, 17%, 14%);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    position: relative;
}

/*========================= Header =========================*/
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 100px 100px;

    background-color: hsl(225, 100%, 98%);
}

.title {
    margin-bottom: 0px;
    font-weight: 700;
}

.number-followers {
    margin-top: 0px;
    font-weight: 700;

    color: hsl(228, 12%, 44%);
}

.container-bar{
    display: none;
}


/*========================= Button =========================*/
.button {
    display: flex;
    align-items: center;
}

.text-mode {
    font-weight: 700;
    padding-right: 20px;

    color: hsl(230, 22%, 74%);
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
  
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(230, 22%, 74%);
    border-radius: 34px;
    transition: background-color 0.3s;
}

.switch:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: hsl(230, 17%, 14%);
    border-radius: 50%;
    transition: transform 0.3s;
}

input:checked + .switch {
    background: linear-gradient( hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

input:checked + .switch:before {
    transform: translateX(26px);
}


.local-cart {
    position: relative;
    top: -50px;
    padding: 0px 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}



.cart-container {
    height: 200px;
}

.facebook-cart,
.twitter-cart,
.instagram-cart,
.youTube-cart {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 100%;
    height: 100%;
    border-radius: 11px;

    background-color: hsl(208, 92%, 53%);
}

.twitter-cart {
    background-color: hsl(203, 89%, 53%);
}

.instagram-cart {
    background: rgb(253,196,104);
    background: linear-gradient(90deg, rgba(253,196,104,1) 35%, rgba(223,73,150,1) 100%);
}

.youTube-cart {
    background-color: hsl(348, 97%, 39%);
}

.cart {
    width: 100%;
    height: 96%;
    border-radius: 0px 0px 10px 10px;
    text-align: center;

    background-color: hsl(227, 47%, 96%);
}

.nickname {
    padding-top: 15px;
    font-size: 12px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    color: hsl(228, 12%, 44%);
}

.nickname span {
    margin: 0px 10px;
}

.cart h1 {
    font-size: 48px;
    margin: 0px;
}

.followers{
    margin-top: 0px;
    font-size: 10px;
    letter-spacing: 5px;
    font-weight: 500;

    color: hsl(230, 22%, 74%);
}

.statistics {
    padding: 15px 0px;
    font-size: 10px;
    font-weight: 700;

    color: hsl(163, 72%, 41%);
}

.last-statistics {
    color: hsl(356, 69%, 56%);
}

.overview {
    padding: 0px 100px;
    font-size: 16px;
    font-weight: 500;

    color: hsl(228, 12%, 44%);
}


.overview-cart {
    padding: 0px 100px;
    margin-bottom: 50px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
  


.statics-cart {
    padding: 20px;
    border-radius: 10px;

    background-color: hsl(227, 47%, 96%);
}

.header-cart,
.info-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cart h1 {
    font-size: 14px;
}

.header-cart img {
    width: 20px;
    height: 20px;
}
  
.info-cart h1{
    margin: 0px;
}


/*========================== Mobile =============================*/
@media(max-width: 816px) {
    header {
        display: block;
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-bar {
        display: block;
        width: 100%;
        height: 2px;
        margin: 20px 0px;

        background-color: hsl(228, 12%, 44%);
    }

    .button {
        display: flex;
        justify-content: space-between;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .local-cart {
        padding-left: 30px;
        padding-right: 30px;
    }
      
    .overview {
        text-align: center;
    }

    .overview-cart {
        padding: 0px 30px;
    }
    
    .grid-container-2 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}